body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  overflow: hidden;
  height: 100vh;
}

* {
  scroll-behavior: smooth;
}

.carousel {
  width: 100vh;
  overflow: hidden;
}

.photo {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.photo .text {
  position: absolute;
}
